.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background: hsl(0, 0%, 15%);
}

.footer__nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
