{% extends "layouts/main.twig" %}

{% block title %}
	Главная страница title
{% endblock %}

{% block description %}
	Главная страница description
{% endblock %}

{% block page %}
	<h1>{{testPage.title}}</h1>
{% endblock %}
